<div class="container-fluid bg-light text-dark pr-5 pl-5">
    <div class="container bg-light p-5">
        <h1 class="display-6">Sorry :(</h1>
        <p class="fst-italic">{{message}} - {{error.status}}</p>
        <hr>
        <h6>Head back to the <a href="/">Video Transform Home</a></h6>
    </div>
</div>
